
<!-- Latest Post Preview Start -->

<style>

th {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  background-color: #2f2f2f;
}

th, td {
  font-size: 18px;
  text-align: left;
}

tr.pres {
  background-color: #001a33;
  color: #cce5ff;
}

</style>

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        {{ page.content | markdownify }}

        <div>
          <table class="table">
            <tr>
              <th>Event Type</th><th>Date</th><th>Description</th><th>Materials</th>
            </tr>
            <tr class="pres">
              <td></td>
              <td></td>
              <td>
                <b><big>Week1 - How MD works?</big></b>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>Seminar 1</td>
              <td>1/12<br>(Fri)</td>
              <td>
                <b>Integration Algorithm</b><br>
                - Journey to extend the timestep<br>
                - Energy drift, Resonance instability<br>
                - Effect on structural/dynamic properties
              </td>
              <td>
                <a href="docs/seminar1.html">[abstract]</a><br>
                <a href="docs/seminar1.pdf">[material]</a><br>
              </td>
            </tr>
            <tr>
              <td>Seminar 2</td>
              <td>1/12<br>(Fri)</td>
              <td>
                <b>Classical Force Field Model</b><br>
                - Water/Ion Force Field<br>
                - Biomolecular Force Field<br>
                - Ionic liquid Force Field
              </td>
              <td>
                <a href="docs/seminar2.html">[abstract]</a><br>
                <a href="docs/seminar2.pdf">[material]</a><br>
              </td>
            </tr>
            <tr>
              <td>Seminar 3</td>
              <td>1/12<br>(Fri)</td>
              <td>
              	<b>Force and Energy Computation</b><br>
                - Lennard Jones and Electrostatics<br>
                - How PME becomes dominant?<br>
                - GPU parallelization
              </td>
              <td>
                <a href="docs/seminar3.html">[abstract]</a>
                <a href="docs/seminar3.pdf">[material]</a><br>
              </td>
            </tr>
            <tr class="pres">
              <td></td>
              <td></td>
              <td>
                <b><big>Week2 - How to sample ensembles?</big></b>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>Seminar 4</td>
              <td>1/26<br>(Fri)</td>
              <td>
                <b>Constant Ensemble Simulation</b><br>
                - Thermostatting algorithm<br>
                - Velocity-rescaling algorithm<br>
                - Artifact on using thermostat
              </td>
              <td>
                <a href="docs/seminar4.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 5</td>
              <td>1/26<br>(Fri)</td>
              <td>
                <b>Monte Carlo </b><br>
                - NVT, NPT, muVT ensemble<br>
                - Gibbs ensemble for phase coexistence <br>
                - Osmotic ensemble
              </td>
              <td>
                <a href="docs/seminar5.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 6</td>
              <td>1/26<br>(Fri)</td>
              <td>
                <b>Enhanced Monte Carlo</b><br>
                - Expanded ensemble (CFCMC/necMC)<br>
                - Hybrid MCMD<br>
                - Smarter MC
              </td>
              <td>
                <a href="docs/seminar6.html">[abstract]</a>
              </td>
            </tr>
            <tr class="pres">
              <td></td>
              <td></td>
              <td>
                <b><big>Week3 - What to compute?</big></b>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>Seminar 7</td>
              <td>2/8<br>(Thu)</td>
              <td>
                <b>Thermodynamics - Free energy Calculation I</b><br>
                - Reaction coordinate<br>
                - Umbrella sampling<br>
                - Metadynamics
              </td>
              <td>
                <a href="docs/seminar7.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 8</td>
              <td>2/8<br>(Thu)</td>
              <td>
                <b>Thermodynamics - Free energy Calculation II</b><br>
                - Enhanced Sampling<br>
                - Nonergodicity<br>
                - Choice of CV
              </td>
              <td>
                <a href="docs/seminar8.html">[abstract]</a><br>
              </td>
            </tr>
            <tr>
              <td>Seminar 9</td>
              <td>2/8<br>(Thu)</td>
              <td>
                <b>Thermodynamics - Markov State Model</b><br>
                - Markvoian Process<br>
                - Markov State Model<br>
                - Simulation with MSM
              </td>
              <td>
                <a href="docs/seminar9.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 10</td>
              <td>2/8<br>(Thu)</td>
              <td>
                <b>Kinetics - Rare event Simulation</b><br>
                - Kinetic Monte Carlo<br>
                - Transition Path Sampling<br>
                - Transition Interface Sampling
              </td>
              <td>
                <a href="docs/seminar10.html">[abstract]</a>
              </td>
            </tr>
            <tr class="pres">
              <td></td>
              <td></td>
              <td>
                <b><big>Week4 - How to extend the scope?</big></b>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>Seminar 11</td>
              <td>2/23<br>(Fri)</td>
              <td>
                <b>Coarse-Grained Simulation</b><br>
                - Coarse-Graining<br>
                - MARTINI<br>
                - Future of CG
              </td>
              <td>
                <a href="docs/seminar11.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 12</td>
              <td>2/23<br>(Fri)</td>
              <td>
                <b>Polarizable Simulation</b><br>
                - Drude oscillator<br>
                - Induced Dipole model<br>
                - Charge equalization
              </td>
              <td>
                <a href="docs/seminar12.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 13</td>
              <td>2/23<br>(Fri)</td>
              <td>
                <b>Reactive Simulation - Polymerization</b><br>
                - Bond breaking<br>
                - In Situ Polymerization
              </td>
              <td>
                <a href="docs/seminar13.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 14</td>
              <td>2/23<br>(Fri)</td>
              <td>
                <b>Reactive Simulation - Proton&Electron Transport</b><br>
                - Constant pH simulation<br>
                - Electron transport simulation
              </td>
              <td>
                <a href="docs/seminar14.html">[abstract]</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
