
<!-- Latest Post Preview Start -->

<style>

th {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  background-color: #2f2f2f;
}

th, td {
  font-size: 18px;
  text-align: left;
}

tr.pres {
  background-color: #001a33;
  color: #cce5ff;
}

</style>

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        {{ page.content | markdownify }}

        <div>
          <table class="table">
            <tr>
              <th>Event Type</th><th>Date</th><th>Description</th><th>Materials</th>
            </tr>
            <tr>
              <td>Seminar 1</td>
              <td>1/1<br>(Thu)</td>
              <td>
                <b>Integrator</b><br>
                - Integration Algorithm<br>
                - Constraint Algorithm<br>
                - Journey to extend the timestep
              </td>
              <td>
                <a href="docs/seminar1.html">[abstract]</a><br>
              </td>
            </tr>
            <tr>
              <td>Seminar 1</td>
              <td>1/1<br>(Thu)</td>
              <td>
                <b>Force Field Model</b><br>
                - Water/Ion Force Field<br>
                - Biomolecular Force Field<br>
                - Ionic liquid Force Field
              </td>
              <td>
                <a href="docs/seminar2.html">[abstract]</a><br>
              </td>
            </tr>
            <tr>
              <td>Seminar 1</td>
              <td>1/1<br>(Thu)</td>
              <td>
              	<b>Force and Energy Computation</b><br>
                - Lennard Jones and Electrostatics<br>
                - How PME becomes dominant?<br>
                - GPU parallelization
              </td>
              <td>
                <a href="docs/seminar3.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 2</td>
              <td>1/8<br>(Thu)</td>
              <td>
                <b>Canonical Ensemble Simulation</b><br>
                - Thermostatting algorithm<br>
                - Velocity-rescaling algorithm<br>
                - Artifact on using thermostat
              </td>
              <td>
                <a href="docs/seminar4.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 2</td>
              <td>1/8<br>(Thu)</td>
              <td>
                <b>Monte Carlo Basic</b><br>
                - Metropolis and acceptance criterion<br>
                - Detailed Balance<br>
                - random move
              </td>
              <td>
                <a href="docs/seminar5.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 2</td>
              <td>4/11<br>(Thu)</td>
              <td>
                <b>Monte Carlo Advanced</b><br>
                - phase coexistence and Gibbs method<br>
                - hybrid MC/MD<br>
                - nonequilibrium MC
              </td>
              <td>
                <a href="docs/seminar6.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 3</td>
              <td>1/15<br>(Thu)</td>
              <td>
                <b>Free energy Calculation I</b><br>
                - Reaction coordinate<br>
                - Umbrella sampling<br>
                - Metadynamics
              </td>
              <td>
                <a href="docs/seminar7.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 3</td>
              <td>1/15<br>(Thu)</td>
              <td>
                <b>Free energy Calculation II</b><br>
                - Enhanced Sampling<br>
                - Nonergodicity<br>
                - Choice of CV
              </td>
              <td>
                <a href="docs/seminar8.html">[abstract]</a><br>
              </td>
            </tr>
            <tr>
              <td>Seminar 3</td>
              <td>1/15<br>(Thu)</td>
              <td>
                <b>Rare event Simulation</b><br>
                - Rare event<br>
                - Transition Path Sampling<br>
                - Transition Interface Sampling
              </td>
              <td>
                <a href="docs/seminar9.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 4</td>
              <td>1/22<br>(Thu)</td>
              <td>
                <b>Coarse-Grained Simulation</b><br>
                - Coarse-Graining<br>
                - MARTINI<br>
                - Future of CG
              </td>
              <td>
                <a href="docs/seminar10.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 4</td>
              <td>1/22<br>(Thu)</td>
              <td>
                <b>Polarizable Simulation</b><br>
                - Drude oscillator<br>
                - Induced Dipole model<br>
                - Charge equalization
              </td>
              <td>
                <a href="docs/seminar11.html">[abstract]</a>
              </td>
            </tr>
            <tr>
              <td>Seminar 4</td>
              <td>1/22<br>(Thu)</td>
              <td>
                <b>Reactive Simulation</b><br>
                - Bond breaking<br>
                - Polymerization<br>
                - constant pH simulation
              </td>
              <td>
                <a href="docs/seminar12.html">[abstract]</a>
              </td>
            </tr>
            <tr class="pres">
              <td>Seminar 5</td>
              <td>2/1<br>(Thu)</td>
              <td>
                <b>Presentation</b><br>
                - 자유 발표
              </td>
              <td>
                <a href="docs/presentation">[schedule]</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
